mysqldump.exe : mysqldump: [Warning] Using a password on the command line interface can be insecure.
At line:1 char:1
+ & "C:\Program Files\MySQL\MySQL Server 8.0\bin\mysqldump.exe" -u root ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysqldump: [War...an be insecure.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: techtrack_db
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `app_accountsignuprequest`
--

DROP TABLE IF EXISTS `app_accountsignuprequest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_accountsignuprequest` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `full_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `company_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `contact_number` varchar(15) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `role` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'customer',
  `status` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `created_at` datetime(6) DEFAULT CURRENT_TIMESTAMP(6),
  `reviewed_at` datetime(6) DEFAULT NULL,
  `reviewed_by_id` int DEFAULT NULL,
  `review_notes` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `idx_status` (`status`),
  KEY `idx_username` (`username`),
  KEY `fk_reviewed_by` (`reviewed_by_id`),
  CONSTRAINT `fk_reviewed_by` FOREIGN KEY (`reviewed_by_id`) REFERENCES `auth_user` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_accountsignuprequest`
--

LOCK TABLES `app_accountsignuprequest` WRITE;
/*!40000 ALTER TABLE `app_accountsignuprequest` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_accountsignuprequest` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_auditlog`
--

DROP TABLE IF EXISTS `app_auditlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_auditlog` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `old_value` longtext COLLATE utf8mb4_unicode_ci,
  `new_value` longtext COLLATE utf8mb4_unicode_ci,
  `timestamp` datetime(6) NOT NULL,
  `performed_by_id` int DEFAULT NULL,
  `request_product_id` bigint DEFAULT NULL,
  `request_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `app_auditlog_performed_by_id_1e9af5de_fk_auth_user_id` (`performed_by_id`),
  KEY `app_auditlog_request_product_id_3d3961d1_fk_app_reque` (`request_product_id`),
  KEY `app_auditlog_request_id_600da00f_fk_app_requests_RequestID` (`request_id`),
  CONSTRAINT `app_auditlog_performed_by_id_1e9af5de_fk_auth_user_id` FOREIGN KEY (`performed_by_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `app_auditlog_request_id_600da00f_fk_app_requests_RequestID` FOREIGN KEY (`request_id`) REFERENCES `app_requests` (`RequestID`),
  CONSTRAINT `app_auditlog_request_product_id_3d3961d1_fk_app_reque` FOREIGN KEY (`request_product_id`) REFERENCES `app_requestproduct` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=140 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_auditlog`
--

LOCK TABLES `app_auditlog` WRITE;
/*!40000 ALTER TABLE `app_auditlog` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_auditlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_cancelleddraftproduct`
--

DROP TABLE IF EXISTS `app_cancelleddraftproduct`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_cancelleddraftproduct` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `product_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `quantity` int unsigned NOT NULL DEFAULT '0',
  `deadline` date DEFAULT NULL,
  `cancellation_reason` longtext COLLATE utf8mb4_unicode_ci,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `cancelled_by_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `app_cancelleddraftproduct_cancelled_by_id_fk` (`cancelled_by_id`),
  CONSTRAINT `app_cancelleddraftproduct_cancelled_by_id_fk` FOREIGN KEY (`cancelled_by_id`) REFERENCES `auth_user` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_cancelleddraftproduct`
--

LOCK TABLES `app_cancelleddraftproduct` WRITE;
/*!40000 ALTER TABLE `app_cancelleddraftproduct` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_cancelleddraftproduct` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_defectlog`
--

DROP TABLE IF EXISTS `app_defectlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_defectlog` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `defect_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `defect_count` int unsigned NOT NULL DEFAULT '0',
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `product_process_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `app_defectlog_product_process_id_fk` (`product_process_id`),
  CONSTRAINT `app_defectlog_product_process_id_fk` FOREIGN KEY (`product_process_id`) REFERENCES `app_productprocess` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_defectlog`
--

LOCK TABLES `app_defectlog` WRITE;
/*!40000 ALTER TABLE `app_defectlog` DISABLE KEYS */;
INSERT INTO `app_defectlog` VALUES (4,'thickness',10,'2026-04-03 11:11:11.661257','2026-04-03 11:11:11.661291',5),(6,'rush',10,'2026-04-06 09:55:48.131790','2026-04-06 09:55:48.131820',15),(8,'rush',10,'2026-04-06 10:00:40.823827','2026-04-06 10:00:40.823858',16),(10,'rush',10,'2026-04-06 10:04:49.151260','2026-04-06 10:04:49.151289',17),(12,'thickness',9,'2026-04-06 10:09:20.260545','2026-04-06 10:09:20.260576',18),(14,'thickness',20,'2026-04-06 10:16:37.282574','2026-04-06 10:16:37.282604',19),(16,'other',10,'2026-04-06 10:45:11.813211','2026-04-06 10:45:11.813243',24);
/*!40000 ALTER TABLE `app_defectlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_notification`
--

DROP TABLE IF EXISTS `app_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_notification` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `notification_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `message` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_read` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `recipient_id` int NOT NULL,
  `request_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  `related_request_product_id` int DEFAULT NULL,
  `action_data` json DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `app_notification_recipient_id_3e7b9c8a_fk_auth_user_id` (`recipient_id`),
  KEY `app_notification_request_id_14eddb0f_fk_app_requests_RequestID` (`request_id`),
  CONSTRAINT `app_notification_recipient_id_3e7b9c8a_fk_auth_user_id` FOREIGN KEY (`recipient_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `app_notification_request_id_14eddb0f_fk_app_requests_RequestID` FOREIGN KEY (`request_id`) REFERENCES `app_requests` (`RequestID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_notification`
--

LOCK TABLES `app_notification` WRITE;
/*!40000 ALTER TABLE `app_notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_passwordresettoken`
--

DROP TABLE IF EXISTS `app_passwordresettoken`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_passwordresettoken` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_used` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `expires_at` datetime(6) NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`),
  KEY `app_passwordresettoken_user_id_1d6fc953_fk_auth_user_id` (`user_id`),
  CONSTRAINT `app_passwordresettoken_user_id_1d6fc953_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_passwordresettoken`
--

LOCK TABLES `app_passwordresettoken` WRITE;
/*!40000 ALTER TABLE `app_passwordresettoken` DISABLE KEYS */;
INSERT INTO `app_passwordresettoken` VALUES (4,'9Gkf705u47bdKJ73yEvFQSRTLYhDwKyn','amarojayvee5@gmail.com',0,'2026-04-06 06:05:43.524111','2026-04-07 06:05:43.407878',4);
/*!40000 ALTER TABLE `app_passwordresettoken` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_processname`
--

DROP TABLE IF EXISTS `app_processname`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_processname` (
  `ProcessID` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`ProcessID`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_processname`
--

LOCK TABLES `app_processname` WRITE;
/*!40000 ALTER TABLE `app_processname` DISABLE KEYS */;
INSERT INTO `app_processname` VALUES (4,'Assembly'),(5,'Bending'),(6,'Bias/Draw'),(7,'Blank/Piece'),(8,'Blanking'),(9,'Chamfering'),(10,'Cleaning'),(11,'Coining'),(1,'Cutting'),(12,'Emboss/Form'),(3,'Forming'),(13,'Forming 1'),(14,'Forming 2'),(15,'Fullweld'),(16,'Marking'),(17,'Nutweld'),(18,'Piercing'),(19,'Retapping'),(20,'Rework'),(21,'Spotweld'),(2,'Welding'),(22,'Welding 1'),(23,'Welding 2');
/*!40000 ALTER TABLE `app_processname` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_processprogress`
--

DROP TABLE IF EXISTS `app_processprogress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_processprogress` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `completed_quota` int unsigned NOT NULL,
  `defect_count` int unsigned NOT NULL,
  `logged_at` date NOT NULL,
  `product_process_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `app_processprogress_product_process_id_afdb5b62_fk_app_produ` (`product_process_id`),
  CONSTRAINT `app_processprogress_product_process_id_afdb5b62_fk_app_produ` FOREIGN KEY (`product_process_id`) REFERENCES `app_productprocess` (`id`),
  CONSTRAINT `app_processprogress_chk_1` CHECK ((`completed_quota` >= 0)),
  CONSTRAINT `app_processprogress_chk_2` CHECK ((`defect_count` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_processprogress`
--

LOCK TABLES `app_processprogress` WRITE;
/*!40000 ALTER TABLE `app_processprogress` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_processprogress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_processtemplate`
--

DROP TABLE IF EXISTS `app_processtemplate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_processtemplate` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `step_order` int unsigned NOT NULL,
  `process_id` int NOT NULL,
  `product_name_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `app_processtemplate_product_name_id_process_id_50028937_uniq` (`product_name_id`,`process_id`),
  KEY `app_processtemplate_process_id_05c5c657_fk_app_proce` (`process_id`),
  CONSTRAINT `app_processtemplate_process_id_05c5c657_fk_app_proce` FOREIGN KEY (`process_id`) REFERENCES `app_processname` (`ProcessID`),
  CONSTRAINT `app_processtemplate_product_name_id_9a984374_fk_app_produ` FOREIGN KEY (`product_name_id`) REFERENCES `app_productname` (`ProdID`),
  CONSTRAINT `app_processtemplate_chk_1` CHECK ((`step_order` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=104 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_processtemplate`
--

LOCK TABLES `app_processtemplate` WRITE;
/*!40000 ALTER TABLE `app_processtemplate` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_processtemplate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_productname`
--

DROP TABLE IF EXISTS `app_productname`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_productname` (
  `ProdID` int NOT NULL AUTO_INCREMENT,
  `prodName` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`ProdID`),
  UNIQUE KEY `app_productname_prodName_b1e8c2b9_uniq` (`prodName`)
) ENGINE=InnoDB AUTO_INCREMENT=103 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_productname`
--

LOCK TABLES `app_productname` WRITE;
/*!40000 ALTER TABLE `app_productname` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_productname` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_productprocess`
--

DROP TABLE IF EXISTS `app_productprocess`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_productprocess` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `step_order` int unsigned NOT NULL,
  `completed_quota` int unsigned NOT NULL,
  `defect_count` int unsigned NOT NULL,
  `is_completed` tinyint(1) NOT NULL,
  `production_date` date DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `archived_at` datetime(6) DEFAULT NULL,
  `process_id` int NOT NULL,
  `request_product_id` bigint DEFAULT NULL,
  `product_id` int DEFAULT NULL,
  `process_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `process_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `quota_updated_at` datetime(6) DEFAULT NULL,
  `quota_updated_by_id` int DEFAULT NULL,
  `defect_updated_at` datetime(6) DEFAULT NULL,
  `defect_updated_by_id` int DEFAULT NULL,
  `defect_type` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `defect_description` longtext COLLATE utf8mb4_unicode_ci,
  `is_overtime` tinyint(1) NOT NULL,
  `ot_defect_logs` json NOT NULL DEFAULT (_utf8mb4'[]'),
  `ot_quota` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `app_productprocess_request_product_id_cc15141e_fk_app_reque` (`request_product_id`),
  KEY `app_productprocess_process_id_c20b305e_fk_app_proce` (`process_id`),
  KEY `app_productprocess_quota_updated_by_id_1a3c5567_fk_auth_user_id` (`quota_updated_by_id`),
  KEY `app_productprocess_defect_updated_by_id_0400aeef_fk_auth_user_id` (`defect_updated_by_id`),
  CONSTRAINT `app_productprocess_defect_updated_by_id_0400aeef_fk_auth_user_id` FOREIGN KEY (`defect_updated_by_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `app_productprocess_process_id_c20b305e_fk_app_proce` FOREIGN KEY (`process_id`) REFERENCES `app_processname` (`ProcessID`),
  CONSTRAINT `app_productprocess_quota_updated_by_id_1a3c5567_fk_auth_user_id` FOREIGN KEY (`quota_updated_by_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `app_productprocess_request_product_id_cc15141e_fk_app_reque` FOREIGN KEY (`request_product_id`) REFERENCES `app_requestproduct` (`id`),
  CONSTRAINT `app_productprocess_chk_1` CHECK ((`step_order` >= 0)),
  CONSTRAINT `app_productprocess_chk_2` CHECK ((`completed_quota` >= 0)),
  CONSTRAINT `app_productprocess_chk_3` CHECK ((`defect_count` >= 0)),
  CONSTRAINT `app_productprocess_chk_4` CHECK ((`ot_quota` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_productprocess`
--

LOCK TABLES `app_productprocess` WRITE;
/*!40000 ALTER TABLE `app_productprocess` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_productprocess` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_productprocess_workers`
--

DROP TABLE IF EXISTS `app_productprocess_workers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_productprocess_workers` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `productprocess_id` bigint NOT NULL,
  `worker_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `app_productprocess_worke_productprocess_id_worker_2139be01_uniq` (`productprocess_id`,`worker_id`),
  KEY `app_productprocess_w_worker_id_26eb9a40_fk_app_worke` (`worker_id`),
  CONSTRAINT `app_productprocess_w_productprocess_id_0cd86188_fk_app_produ` FOREIGN KEY (`productprocess_id`) REFERENCES `app_productprocess` (`id`),
  CONSTRAINT `app_productprocess_w_worker_id_26eb9a40_fk_app_worke` FOREIGN KEY (`worker_id`) REFERENCES `app_worker` (`WorkerID`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_productprocess_workers`
--

LOCK TABLES `app_productprocess_workers` WRITE;
/*!40000 ALTER TABLE `app_productprocess_workers` DISABLE KEYS */;
INSERT INTO `app_productprocess_workers` VALUES (1,1,2),(2,2,3),(3,3,2),(4,4,3);
/*!40000 ALTER TABLE `app_productprocess_workers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_requestproduct`
--

DROP TABLE IF EXISTS `app_requestproduct`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_requestproduct` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quantity` int unsigned NOT NULL,
  `deadline_extension` date DEFAULT NULL,
  `extension_status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `requested_at` datetime(6) DEFAULT NULL,
  `archived_at` datetime(6) DEFAULT NULL,
  `product_id` int NOT NULL,
  `request_id` int NOT NULL,
  `completed_at` datetime DEFAULT NULL,
  `restored_at` datetime(6) DEFAULT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cancelled_at` datetime(6) DEFAULT NULL,
  `cancelled_by_id` int DEFAULT NULL,
  `cancellation_reason` longtext COLLATE utf8mb4_unicode_ci,
  `cancellation_progress` json DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `app_requestproduct_request_id_324322cd_fk_app_requests_RequestID` (`request_id`),
  KEY `app_requestproduct_product_id_7e4063cc_fk_app_productname_ProdID` (`product_id`),
  KEY `app_requestproduct_cancelled_by_id_92b16e84_fk_auth_user_id` (`cancelled_by_id`),
  CONSTRAINT `app_requestproduct_cancelled_by_id_92b16e84_fk_auth_user_id` FOREIGN KEY (`cancelled_by_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `app_requestproduct_product_id_7e4063cc_fk_app_productname_ProdID` FOREIGN KEY (`product_id`) REFERENCES `app_productname` (`ProdID`),
  CONSTRAINT `app_requestproduct_request_id_324322cd_fk_app_requests_RequestID` FOREIGN KEY (`request_id`) REFERENCES `app_requests` (`RequestID`),
  CONSTRAINT `app_requestproduct_chk_1` CHECK ((`quantity` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_requestproduct`
--

LOCK TABLES `app_requestproduct` WRITE;
/*!40000 ALTER TABLE `app_requestproduct` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_requestproduct` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_requests`
--

DROP TABLE IF EXISTS `app_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_requests` (
  `RequestID` int NOT NULL AUTO_INCREMENT,
  `deadline` date NOT NULL,
  `created_at` date NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `archived_at` datetime(6) DEFAULT NULL,
  `created_by_id` int DEFAULT NULL,
  `requester_id` int DEFAULT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `restored_at` datetime(6) DEFAULT NULL,
  `approval_status` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `approval_notes` longtext COLLATE utf8mb4_unicode_ci,
  `request_status` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `approved_by_id` int DEFAULT NULL,
  PRIMARY KEY (`RequestID`),
  KEY `app_requests_created_by_id_76dff274_fk_auth_user_id` (`created_by_id`),
  KEY `app_requests_requester_id_7ac6026c_fk_auth_user_id` (`requester_id`),
  KEY `fk_approved_by` (`approved_by_id`),
  CONSTRAINT `app_requests_created_by_id_76dff274_fk_auth_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `app_requests_requester_id_7ac6026c_fk_auth_user_id` FOREIGN KEY (`requester_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `fk_approved_by` FOREIGN KEY (`approved_by_id`) REFERENCES `auth_user` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_requests`
--

LOCK TABLES `app_requests` WRITE;
/*!40000 ALTER TABLE `app_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_userprofile`
--

DROP TABLE IF EXISTS `app_userprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_userprofile` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `full_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `company_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contact_number` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_verified` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `verified_at` datetime(6) DEFAULT NULL,
  `user_id` int NOT NULL,
  `terms_accepted` tinyint DEFAULT '0',
  `terms_accepted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `app_userprofile_user_id_370bd89d_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_userprofile`
--

LOCK TABLES `app_userprofile` WRITE;
/*!40000 ALTER TABLE `app_userprofile` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_userprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_worker`
--

DROP TABLE IF EXISTS `app_worker`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_worker` (
  `WorkerID` int NOT NULL AUTO_INCREMENT,
  `FirstName` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `LastName` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  PRIMARY KEY (`WorkerID`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_worker`
--

LOCK TABLES `app_worker` WRITE;
/*!40000 ALTER TABLE `app_worker` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_worker` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=93 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `first_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext COLLATE utf8mb4_unicode_ci,
  `object_repr` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=84 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `session_data` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_site`
--

DROP TABLE IF EXISTS `django_site`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_site` (
  `id` int NOT NULL AUTO_INCREMENT,
  `domain` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_site_domain_a2e37b91_uniq` (`domain`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_site`
--

LOCK TABLES `django_site` WRITE;
/*!40000 ALTER TABLE `django_site` DISABLE KEYS */;
INSERT INTO `django_site` VALUES (1,'example.com','example.com');
/*!40000 ALTER TABLE `django_site` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-06 20:51:47
